{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
	<title>Kron</title>
    <link rel="stylesheet" href="{% static 'kronFrame/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'kronFrame/bootstrap-theme.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'kronFrame/style.css' %}" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/css/select2.min.css" rel="stylesheet" />
</head>
<body>
<div class="jumbotron" style="padding-top: 20px;">
    <h1>Class Details</h1>
</div>
 <form action="/offered/" method="post" id="populate-form">
        {% csrf_token %}
        <div class="container">
            <div class="form-group" id="course_form">
            {% for field in form %}
		        {{ field.errors }}
                {{ field.label_tag }} {{ field }}
                <br>
            {% endfor %}
            <br>
            <input type="hidden" name="course" id="inp_course">
            <input type="submit" class="btn btn-primary" value="Save">  
            </div>
        </div>
</body>
<script type="text/javascript" src="{% static 'kronFrame/jQuery.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.3/js/select2.min.js"></script>
<script>
        $('input[type=text]').addClass('form-control');
        $('#id_course').find('option').remove()
        $('#id_course').css('width','50%');        
        $('#id_course').select2();

        {% for l in list %}
            var option = new Option("{{l.name}}","{{l.acronym}}");
            console.log(option);
            $("#id_course").append(option);
        {% endfor %}
        

        $('#populate-form').submit(function(){

            $('#inp_course').val($('#id_course').val());

        });

</script>
</html>